@model TravelAgencyTest.Models.Hotel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AllInclusive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AllInclusive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Healthcare)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Healthcare)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Days)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Days)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rooms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rooms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HolidayId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HolidayId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Holiday)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Holiday.HolidayId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HotelId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
